---
import Header from '../components/Header.astro';
import '../assets/css/style.css';
import Ticket from '../components/Ticket.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tori & Roll</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" crossorigin="anonymous" />
  </head>

  <body>
    <Header />

    <section class="ticket-container">
        <Ticket name="Nigiri salmon" amount="3" />
        <Ticket name="Nigiri salmon" amount="3" />
        <Ticket name="Nigiri salmon" amount="3" />
    </section>


    <script type="module" src="/tal.js"></script>
  </body>
</html>