@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sawarabi+Mincho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background-color: #D1DEC0;
}

header {
    width: 100%;
    height: 110px;
    background-color: #1A1A1A;
    position: sticky;
    top: 0;
    z-index: 1000;

    .logo {
        background-image: url('../img/logo.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: contain;
        width: 300px;
        height: 100%;
        position: absolute;
        left: 3%;
    }

    .cart {
        position: absolute;
        width: 120px;
        height: 100%;
        padding: 0.5%;
        right: 7%;

        .redAlert {
            display: none;
            justify-content: center;
            align-items: center;
            height: 50px;
            position: absolute;
            z-index: 4;
            width: 50px;
            border-radius: 50%;
            background: #FF4343;
            background: linear-gradient(90deg, rgba(255, 67, 67, 1) 0%, rgba(255, 104, 11, 1) 100%);
            color: white;

            .number {
                font-weight: 900;
                font-size: 1.8rem;
            }
        }

        .button-cart {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20%;
            width: 90px;
            z-index: 1;
            height: 60px;
            position: absolute;
            background: #FF781E;
            background: linear-gradient(90deg, rgba(255, 120, 30, 1) 0%, rgba(255, 225, 31, 1) 100%);
            bottom: 15%;
            right: 0;

            i {
                color: white;
                font-size: 2rem;
            }
        }

    }
}

.menu-view {
    height: auto;

    .menu-section-container {
        padding-top: 6vh;
        width: 90%;
        height: auto;
        margin: auto;

        .tittle-menu-section {
            color: #353535;
            font-size: 5rem;
            position: relative;
        }

        .tittle-menu-section::before {
            content: "";
            position: absolute;
            width: 75vw;
            height: 5px;
            bottom: 0;
            background-color: #353535;
        }

        .plate-cards-container {
            padding: 5%;
            width: 100%;
            height: auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;

            .plate-card {
                width: 250px;
                height: 270px;
                border-radius: 5%;
                margin: 0 3%;
                margin-bottom: 3%;
                background-color: white;
                display: flex;
                flex-flow: column wrap;
                justify-content: flex-start;
                overflow: hidden;

                .plate-img {

                    width: 100%;
                    height: 100%;
                    background-image: url("../img/sushi.webp");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    flex: 5;
                }

                .plate-details {
                    flex: 4;
                    padding: 10px;
                    position: relative;

                    .plate-name {
                        font-size: 1.4rem;
                        text-align: left;
                    }

                    .plate-buttons {
                        width: 90%;
                        height: auto;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        position: absolute;
                        bottom: 20px;

                        a {
                            text-decoration: none;
                            padding: 11px;
                            border-radius: 20px;
                        }

                        .order {
                            background: #FF781E;
                            background: linear-gradient(90deg, rgba(255, 120, 30, 1) 0%, rgba(255, 225, 31, 1) 100%);
                        }

                        .info {
                            border: 4px solid transparent;
                            border-image: linear-gradient(90deg, rgba(255, 120, 30, 1), rgba(255, 225, 31, 1)) 1;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
    }
}

.Carrito {
    width: 700px;
    background-color: #D1DEC0;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Asegura que los objetos queden a la izquierda */
    gap: 20px;
    box-sizing: border-box;

    .Carrito-header {
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        margin-left: 20px;

        .cross {
            position: absolute;
            width: 50px;
            height: 50px;
            right: 50px;
            top: 5px;
            cursor: pointer;

            span {
                display: block;
                width: 50px;
                height: 5px;
                background-color: white;
                border-radius: 15px;
                position: absolute;
                bottom: 50%;
            }

            span:first-child {
                transform: rotate(45deg);
            }

            span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    .object {
        width: 80%; /* ← el tamaño que quieres */
        height: 100px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        background-color: white;
        display: flex;
        overflow: hidden;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

        .object-img {
            flex: 1;
            background-image: url("../img/sushi.webp");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .object-content {
            flex: 2;
            display: flex;

            .object-text {
                flex: 2;
                margin: 15px;

                .object-title {
                    margin-bottom: 0.5rem;
                }
            }

            .object-options {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .object-delete {
                    text-decoration: none;
                    color: black;
                    padding: 10px 15px;
                    border: none;
                    border-radius: 20px;
                    background: linear-gradient(white, white) padding-box,
                        linear-gradient(90deg, rgba(255, 120, 30, 1), rgba(255, 225, 31, 1)) border-box;
                    border: 4px solid transparent;
                    cursor: pointer;
                    font-weight: 600;
                }
            }
        }
    }

    .total {
        justify-self: flex-start;
        width: 80%;
        background-color: #fff;
        border-radius: 10px;
        padding: 15px;
        text-align: left;

        table {
            width: 100%;

            td {
                padding: 5px;
            }
        }
    }
}
