---
--- 
<div class="Carrito">
  <div class="Carrito-header">
    <div class="cross">
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="object">
    <div class="object-img"></div>
    <div class="object-content">
      <div class="object-text">
        <h3 class="object-title">Nigiri Salmón</h3>
      </div>
      <div class="object-options">
        <button class="object-delete">Eliminar</button>
      </div>
    </div>
  </div>
  <div class="total">
    <table>
      <tr><td>Total:</td><td>$25.00</td></tr>
    </table>
  </div>
</div>